<div class="bg-off-white pv4">
  <div class="ph3 center">
    <h2 class="f2 tc b lh-title mb2">{{.intro.heading}}</h2>
    <p class="f3 tc mb4">{{.intro.text}}</p>
    <div class="tc">
      <a class="btn raise snipcart-add-item" href="#"
      data-item-id="STRANDEN"
      data-item-price="179.00"
      data-item-url="/products/"
      data-item-description="En öde strand är full av saker. Vem har varit här? En allaåldersbok av Jenny Bjarnar och Love Antell."
      data-item-image="/img/product-stranden.jpg"
      data-item-name="Stranden">
      KÖP
      </a>
    </div>
  </div>
<!--<div class="flex-ns mhn2-ns mb3">
      {{ range .products }}
      <div class="ph2-ns w-50-ns">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div>
  -->

    <div class="product">
      <h2 class="product__name">{{ .name }}</h2>
      {{ with .image }}
        <img class="product__image" src="{{ . }}" alt="">
      {{ end }}

<!--
      <p class="product__description">{{ .description }}</p>
      <div class="product__button-container">
        <div class="product__price">${{ .price }}</div>
        <button
          class="btn snipcart-add-item buy-button"
          data-item-id="{{ .id }}"
          data-item-name="{{ .name }}"
          data-item-price="{{ .price }}"
          data-item-url="{{ .product_url }}"
          data-item-description="{{ .description }}">
          Köp
        </button>
-->

    </div>
  </div>
<!--
    <div class="tc">
      <a href="/products" class="btn raise">Butik</a>
    </div>
-->
  </div>
</div>
