<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.png" alt="Bokamik" class="br0 db mb0 w-100 symbol"/>
	</a>

	<!-- Primary Nav -->
	<ul class="h-100 flex black">
		<li><a href="/values" class="pa3 no-underline db">Om oss</a></li>
		<li><a href="/post" class="pa3 no-underline db">Katalog</a></li>
		<li><a href="/products" class="pa3 no-underline db">Butik</a></li>
		<li><a href="/contact" class="pa3 no-underline db">Kontakt</a></li>
	</ul>

</nav>
