.btn {
  display: inline-block;
  padding: 0.75rem;
  font-size: var(--spacing-medium);
  line-height: 1.25;
  background-color: var(--grey-2);
  border-radius: var(--border-radius);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary);
  text-align: center;
  transition: var(--hover-transition);

  &:before {
    content: '† ';
  }

}
